@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/* PreDesign Setup */
/*  */

:root {
    --header-height: 3.5rem;   



    --hue: 255;
    --first-color: hsl(211, 70%, 30%);
    --first-color-alt: hsl(211, 80%, 50%);
    --first-color-light:hsl(211, 80%, 50%);
    --title-color: hsl(var(--hue), 24%, 16%);
    --text-color: hsl(var(--hue), 8%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 60%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 100%);
    --shadow-color: hsla(var(--hue), 90%, 30%, .1);

    /* Font .5rem 8px */
    --body-font: "Syne", sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --biggest-font-size: 2rem;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.8rem;
    --smallest-font-size: 0.7rem;

    /* Weight */

    --font-regular:400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Z Index */

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100vh;
} 

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

html {
    scroll-behavior: smooth;
}

body,
input,
textarea,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
}

input,
button,
textarea {
    border: none;
    outline: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    color: var(--text-color);
}

/* Theme Changer */

.nav__actions{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.change-theme {
    color: var(--white-color);
    font-size: 1.20rem;
}

/* Dark Theme Variables */
body.dark-theme {
    --first-color: #003f81;
    --title-color: hsl(var(--hue), 24%, 85%);
    --text-color: hsl(var(--hue), 8%, 70%);
    --body-color: hsl(var(--hue), 16%, 8%);
    --container-color: hsl(var(--hue),16%, 12%);
    --shadow-color: hsla(var(--hue), 32%, 4%, .4);
}

.dark-theme .bg-header{
    box-shadow: 0 12px 24px var(--shadow-color);
}

.dark-theme .services__modal{
    background-color: hsla(var(--hue), 90%, 8%, .2);
}

.dark-theme .perfil__content {
    background: rgb(0,63,129);
    background: linear-gradient(90deg, rgba(0,63,129,1) 0%, var(--body-color) 50%, var(--body-color) 100%);
}

.dark-theme .perfil {
    background: var(--body-color);
}

.dark-theme .back-video {
    display: none;
}



/* Reusable Classes */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;

}

.section__title {
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 2rem;
}

/* Ovde promeniti height kada budem menjao sliku jer je ram */

.perfil {
    width: 250px;
    height: 250px;
    background-color: var(--body-color);
    /* background-color: transparent; */
    border: 8px solid var(--first-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: .4s;
}

#home-perfil {
    border-style: none;
}


@keyframes morphing { 
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    15% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;

    }

    25% {
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }

    35% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

    }

    50% {
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }

    75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }

    85% {
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
}




.perfil__content {
    width: 180px;
    height: 180px;
    border: 2px solid var(--first-color);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
    /* background: rgb(23,75,130); */

    background: linear-gradient(90deg, rgba(23,75,130,1) 0%, rgba(39,119,203,1) 50%, rgba(255,255,255,1) 100%);
    animation: morphing 20s infinite;
    animation-timing-function: all ease;
}


#about---perfil {
    background: var(--body-color);
}

.main {
    overflow: hidden;
}

/* Header and Navbar   */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
    font-size: 1.5rem;
}

.nav__toggle,
.nav__close {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__toggle{
    color: var(--white-color);
    transition: 4.s;
}

.nav__close {
    color: var(--title-color);
}


/* HOME */

.home {
    position: relative;
    border-bottom: 5px solid var(--first-color);
}

.home__rectangle {
    width: 100%;
    height: auto;
    background-color: var(--first-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1%;
}

.home__container {
    padding-block: 1rem;
}

.home__perfil {
    justify-self: center;
}

.home__content{
    row-gap: 3rem;
}

.home__data {
    row-gap: .75rem;
    text-align: center;
}

.home__name {
    font-size: var(--biggest-font-size);
}

.home__profession {
    font-size: var(--h2-font-size);
}

.home__social {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}


.motobike {
    font-size:var(--font-medium);
}

.home__social-link {
    font-size: 2rem;
    color: var(--title-color);
    transition: ease .4s;
}

.home__social-link:hover {
    color: var(--first-color);
    scale: 1.3;
}

.home__button {
    justify-self: center;
}

/* ABOUT Page */
.about__page {
    padding-bottom: 4rem;
}

.about__perfil {
    justify-self: center;
}

.about__content {
    row-gap: 4rem;
}

.about__data {
    row-gap: 2rem;
}

.about__info {
    row-gap: .75rem;
    text-align: center;
}

.about__name {
    font-size: var(--h1-font-size);
}

.about__profession {
    font-size: var(--h2-font-size);
}

.about__description b{
    color: var(--first-color);
}

.about__button {
    justify-self: center;
}

.about__skills-title {
    font-size: var(--h3-font-size);
    text-align: center;
    margin-bottom: 2rem;
}

.about__skills-img {
    width: 35px;
    transition-duration: .4s;
}

.about__skills-img:hover {
    transform: translateY(-.5rem);
    scale: 2;
    transform: rotate(360deg);
    filter: none;
}

.about__skills-content {
    grid-template-columns: repeat(6, max-content);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section__title {
    font-size: var(--biggest-font-size);
}

/* SERVICES  */


.services__container {
    row-gap: 2rem;
}

.services__card {
    background-color: var(--container-color);
    padding: 3.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
    transition: ease .4s;
    border-radius: 2rem;
}


.services__icon {
    display: inline-block;
    font-size: 3rem;
    color: var(--first-color);
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    transition: ease .4s;
}

.services__title {
    font-size:var(--h2-font-size);
    margin-bottom: 1rem;
}

.services__description {
    margin-bottom: 3rem;
}

.services__button {
    cursor: pointer;
}

.services__modal {
    position: fixed;
    inset: 0;
    background-color: hsla(var(--hue), 90%, 30%, .3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); 
    /* for safari */
    display: grid;
    place-items: center;
    padding: 2rem;
    opacity: 0;
    visibility: hidden;
    z-index: var(--z-modal);
    transition:  ease .4s;
}

.services__modal-content {
    max-height: 420px;
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem 1.5rem;
    border-bottom: 6px solid var(--first-color);
    overflow: auto;
    
}

.services__modal-content::-webkit-scrollbar {
    width: .6rem;
}

.services__modal-content::-webkit-scrollbar {
    background-color: var(--text-color-light);
}

.services__modal-title {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.services__modal-list {
    margin-left: 1rem;
    color: var(--text-color);
}

.services__modal-item {
    list-style: square;
    font-size: 1rem;
}

.services__modal-item::marker{
    color: var(--first-color);
}

.services__modal-close {
    position: absolute;
    cursor: pointer;
    top: 1.5rem;
    right: 1.5rem;
    color: var(--text-color);
}



/*  Active modal momenat */

.active-modal {
    opacity: 1;
    visibility: visible;
}

/* WORK */

.work__container {
    row-gap: 3rem;
    
}

.work__link {
    display: inline;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    
}

.work__img {
    filter: grayscale(1);
    transition: ease .4s;
}

.work__icon {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 2rem;
    color: var(--first-color);
    transition: ease .4s;
}

.work__link:hover .work__img {
    filter: none;
}

.work__link:hover .work__icon {
    color: hsl(211, 80%, 50%);
    transform: translate(.5rem, -.5rem) rotate(-30deg);
}


.work__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.25rem;
    transition: ease .4s;
}

.work__page {
    padding-bottom: 4rem;
}

.work__subtitle {
    color: var(--text-color);
}

.work__button {
    justify-self: center;
}

.work__img {
    border-radius: 1rem;
    border: 1px solid var(--first-color);
}

/* Beauty Extras */

.code:hover {
    animation-name: opacupa;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: all ease;
}

@keyframes opacupa  {
    0%, 30%, 60%, 90% {
        opacity: 0;
    }

    15%, 40%, 70%, 100% {
        opacity: 1;
    }

}

.webdesign:hover {
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    background-color: orange;

}

@keyframes colorchange {
    0% {
        background-color: blue;
    }

    25% {
        background-color: pink;
    }

    50% {
        background-color: red;
    }

    75%{
        background-color: orange;
    }

    85%{
        background-color: green;
    }
    
    100% {
        background-color: var(--first-color);
    }
}

.js:hover{
    animation: wiggle 2s linear infinite;
    transform: scale(2);
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }


/* CONTACT */

.contact__container {
    padding-bottom: 4rem;
}

.contact__button {
    justify-self: center;
}

.contact__page {
    padding-block: 1rem 4rem;
}

.contact__form {
    position: relative;
}

.contact__box {
    position: relative;
    width: 100%;
    height: 58px;
}

.contact__input {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    border: 3px solid var(--text-color);
    padding: .5rem 1.5rem;
    color-interpolation-filters: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: ease .4s;
}

.contact__input {
    border-color: var(--title-color);
}

.contact__input:focus{
    border-color: var(--title-color);
}

.contact__input:-webkit-autofill {
    transition: background-color 6000s, color 6000s;
}

.contact__label {
    position: absolute;
    top: -16px;
    left: 16px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    background-color: var(--body-color);
    padding: 8px;
    transition: ease .4s;
}

.contact__area {
    height: 10rem;
}

.contact__area textarea{
    resize: none;
    padding-top: 1.25rem;
}

.contact__send {
    padding-block: 1.25rem;
    cursor: pointer;
}

.contact__message {
    position: absolute;
    bottom: -2rem;
    left:0;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    
}

/* You have to learn or make a project to unlock these icons! Study n learn more*/
.locked {
    /* filter: grayscale(1); */
    opacity:0%;
}

.learner {
    opacity: 100%;
    filter: grayscale(1);
}

/* FOOTER */
.footer {
    background-color: var(--first-color);
}

.footer__container {
    padding-block: 4rem 2rem;
    text-align: center;
    row-gap: 5rem;
}

.footer__content {
    row-gap: 2rem;
}

.footer__content a,
.footer__copy {
    color: var(--white-color);
    
}




.footer__logo {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    justify-self: center;
}

.footer__links,
.footer__social{
    display: flex;
    justify-content: center;
}

.footer__links {
    flex-wrap: wrap;
    gap: 2rem;
}

.footer__link{
    font-weight: var(--font-semi-bold);
}

.footer__logo:hover,
.footer__link:hover{
    text-decoration: underline;
}

.footer__social {
    column-gap: 1rem;
}

.footer__social-link{
    font-size: 2rem;
    transition: all ease .4s;
}

.footer__social-link:hover{
    transform: scale(2);
}

.footer__copy{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

/* Scroll Bar */

::-webkit-scrollbar{
    width: 0.6rem;
    background-color: hsl(var(--hue), 20%, 85%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(var(--hue), 20%, 65%);
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--hue), 20%, 55%);
}

/* Scroll Up Button */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-color);
    box-shadow: 0 12px 24px var(--shadow-color);
    display: inline-flex;
    padding: 5px 0px;
    font-size: 1.5rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: ease .4s;
}

.scrollup:hover{
    transform: translateY(-.5rem);
}

.show-scroll {
    bottom: 3rem;
}

.change-theme {
    color: var(--title-color);
   }

#oli-menu {
    color: var(--title-color);
}



/* Media Queries iz nekog razloga mora da stoji ovde ako se pomeri burger ne radi */
@media screen and (max-width: 1150px) {

    .home {
        border-bottom: 0;
    }
    .perfil {
        background-color: transparent;
    }

    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        height: 100vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        padding-block: 5rem 4rem;
        transition: top .4s;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .nav__link {
        color: var(--title-color);
        font-weight: var(--font-semi-bold);
        transition: color .4s;
    }

    .nav__link:hover {
        color:var(--first-color);
    }

    .nav__close {
        position: absolute;
        top: 1.15rem;
        right: 1.5rem;
        font-size: 2rem;
    }
}

/* Smaller screens  */

@media screen and (max-width: 360px) {

    .container {
        margin-inline: 1rem;
    }

    .services__modal {
        padding-inline: .5rem;
    }

    .about__skills-content {
        grid-template-columns: repeat(4, max-content);
    }


}

@media screen and (max-width:390px) {
    
    .about__data {
        width: 90vw;
    }

    .about__skills-content {
        grid-template-columns: repeat(4, max-content);
    }

}

/* Medium Screens  */
@media screen and (min-width: 576px) {

    .services__container {
        grid-template-columns: 320px;
        justify-content: center;
    }

    .services__modal-content {
        width: 400px;
    }

    .work__container {
        grid-template-columns: 350px;
        justify-content: center;
    }

    .about__container {
        grid-template-columns: 400px;
        justify-content: center;
    }
}


@media screen and (min-width: 768px){

    /* .nav__item {
        font-size: 1.25rem;
    } */

    .services__container {
        grid-template-columns: repeat(2,320px);
    }

    .work__container {
        grid-template-columns: repeat(2,320px);
    }

    /* p.about__description {
        font-size: var(--h2-font-size);
    }

    h3.about__skills-title {
        font-size: var(--h1-font-size);
    } */


    .contact__page {
        grid-template-columns: 670px;
        justify-content: center;
    }

    .contact__group {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .contact__area {
        height: 18rem;
    }

    .contact__message{
        bottom: 5rem;
    }

    .contact__send{
        justify-self: center;
        margin-top: 1.5rem;
    }
}

/* Large Screens */
@media screen and (min-width: 1150px) {


    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .section__title {
        margin-top: 1rem;
    }
    
    .nav {
        height: calc(var(--header-height) + 2rem);
        column-gap: 3rem;
    }

    .nav__logo {
        font-size: 2rem;
        margin-left: 1rem;
    }


    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        display: inline-flex;
        gap: 6rem;
        font-size: 1.25rem;
        margin-top: 1.10rem;
    }

    #firstitem {
        color: var(--title-color);
    }

   .nav__list a {
    color: var(--title-color);
   }

   .change-theme {
    color: var(--title-color);
   }

   

   .perfil {
    width: 500px;
    height: 500px;
    border-width: 8px;
    background:transparent;
   }

   .perfil__content {
    width: 360px;
    height: 360px;
    border-width: 5px;
   }

   .pefil__img {
    width: 300px;
   }

   .home__rectangle {
    width: 30vw;
    height: 100%;
   }

   .home__container {
    position: relative;
    grid-template-columns: 500px 300px;
    align-items: center;
    column-gap: 4rem;
    padding-block: 3.5rem 8rem;
   }

   .home__content {
    row-gap: 4rem;
   }

   .home__data {
    row-gap: 1rem;
   }

   .home__name {
    font-size: 4rem;
   }

   .home__profession {
    font-size: var(--h1-font-size);
    width: 100%;
   }

   .home__social {
    flex-direction: column;
    row-gap: 1.5rem;
    position: absolute;
    top: -4rem;
    bottom: 0;
    right: 0;
   }

   .home__social a {
    font-size: 3rem;
    color: var(--first-color);
    margin-top: 2rem;
   }

   .hero__section {
    height: 100vh;
   }

   .home__button {
    font-size: var(--h1-font-size);
   }

   .services__container {
    grid-template-columns: repeat(3,320px);
    gap: 10rem;
   }

   .services__description {
    font-size: var(--h2-font-size);
   }

   .services__modal-content {
    max-height: 480px;
    padding: 5.5rem 2rem;
   }

   .services__modal-close {
    font-size: var(--biggest-font-size);
   }

   .work__container {
    grid-template-columns: repeat(4,350px);
    row-gap: 4rem;
   }

   .contact__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap:15rem;
    padding-block: 1rem 5rem;
   }

   .contact__button {
    font-size: var(--h2-font-size);
   }

   .contact__send {
    font-size: var(--h2-font-size);
   }
   
   .contact__container .section__title {
    text-align: initial;
    margin: 0;
   }

   .footer__container {
    row-gap: 6rem;
    padding-block: 3.5rem;

   }

   .footer__content {
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
   }

   .footer__logo {
    font-size: 1.75rem;
   }

   .footer__links {
    column-gap: 3rem;
    font-size: var(--h2-font-size);
   }

   .footer__social {
    column-gap: 1.5rem;
   }

   .scrollup{
    right: 3rem;
   }

   .about__container {
    grid-template-columns: 500px 440px;
    align-items: center;
    column-gap: 8rem;
    padding-top: 2rem;
   }

   .about__data {
    row-gap: 3.5rem;
   }

   .about__button {
    font-size: var(--h2-font-size);
   }

   .about__skills-content {
    grid-template-columns: repeat(6, max-content);
   }

   .about__skills-img {
    width: 40px;
   }

   .about__skills-title {
    font-size: 1.3rem;
   }
}

@media screen and (min-width: 1264px) {
    .services__container {
        grid-template-columns: repeat(3,320px);
        gap: 5rem;
       }


    .work__container {
        grid-template-columns: repeat(3,320px);
    }
}

@media screen and (min-width: 1500px) {
    .home__rectangle {
        width: 34vw;
    }

    .nav__list {
        gap: 5rem;
        font-size: var(--h1-font-size);
    }

    .nav__logo {
        margin-left: -5rem;
    }

    .about__name {
        font-size: 3rem;
    }

    .about__profession {
        font-size: 1.5rem;
    }

    .about__description {
        font-size: 1.1rem;
    }

    .services__container {
        grid-template-columns: repeat(3,320px);
        gap: 10rem;
       }

    .work__container {
        grid-template-columns: repeat(4,420px);
    }

}

@media screen and (min-width: 1536px) {

    .home__rectangle {
        width: 30.3vw;
    }

    .home__social {
        row-gap: 1.0rem;
        top: -8rem;
       }
    
    .home__social a {
        font-size: 3rem;
        margin-top: 1rem;
       }

    .work__container {
        grid-template-columns: repeat(3, 400px);
    }
       
}

@media screen and (min-width: 1920px) {
    .home__rectangle {
        width: 33.8vw;
    }

    .home__social {
        row-gap: 1.2rem;
        top: 0rem;
    }
    
    .home__social a {
        font-size: 4rem;
        margin-top: 1rem;
    }

    .work__container {
        grid-template-columns: repeat(4, 420px);
    }
} 

@media screen and (min-width: 2048px) {

    .home__rectangle {
        width: 29vw;
    }

    .nav__list {
        gap: 7rem;
        font-size: 1.50rem;
    }

    .nav__logo {
        margin-left: -10rem;
        margin-right: 5rem;
    }

    * {
        zoom: 1.03;
    }
}


    /* Show Burger Menu */
.show-menu{
    top: 0;
}

/* Change background header */
.bg-header {
    background-color: var(--body-color);
    box-shadow: 0 2px 16px var(--shadow-color);
}


.bg-header :is(.nav__logo, .nav__toggle, .change-theme, .nav__list a, .bike, #firstitem) {
    color: var(--title-color);
}

/* Header background of other pages */

.header-pages {
    
    background-color: var(--body-color);
    box-shadow: 0 2px 16px var(--shadow-color);
}

.header-pages :is(.nav__logo, .nav__toggle, .change-theme) {
    color: var(--title-color);
}

/* Button */

.button {
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 2rem;
    transition: background-color .4s, box-shadow .4s;
    border-radius: 1.5rem;
}

.button:hover {
    background-color: var(--first-color-alt);
    box-shadow: 0 8px 24px hsla(var(--hue), 90%, 30%, .3);
}


